<ion-header>
  <ion-navbar>
    <ion-title>
      Statistics
    </ion-title>
  </ion-navbar>
</ion-header>

<ion-content padding>
  <ion-card>
    <ion-item>
      <ion-label>Risk Factor: </ion-label>
      <ion-select class="customSelect" [(ngModel)]="riskFactor" (ionChange)="updateChart()" interface="popover">
        <ion-option value="Blood Pressure">Blood Pressure</ion-option>
        <ion-option value="Blood Glucose">Blood Glucose</ion-option>
        <ion-option value="Heart Rate">Heart Rate</ion-option>
        <ion-option value="Fitness">Fitness</ion-option>
        <ion-option value="Weight">Weight</ion-option>
      </ion-select>
    </ion-item>
    <br>
    <ion-item>
      <ion-label>Profile Length: </ion-label>
      <ion-select class="customSelect" [(ngModel)]="patientHealthProfileLength" (ionChange)="getPatientHealthProfileForGivenPeriodOfTime()" interface="popover">
        <ion-option value="0">Recent</ion-option>
        <ion-option value="7">last Week</ion-option>
        <ion-option value="30">Last Month</ion-option>
        <ion-option value="180">Last Six Month</ion-option>
        <ion-option value="365">Last Year</ion-option>
        <ion-option value="1000">Overall</ion-option>
      </ion-select>
    </ion-item>
  </ion-card>

  <ion-card>
    <ion-card-header>
      {{chartTitle}}
    </ion-card-header>
    <ion-card-content>
      <canvas #barCanvas></canvas>
    </ion-card-content>
  </ion-card>

  <ion-card>
    <ion-card-header>
      {{chartTitle}}
    </ion-card-header>
    <ion-card-content>
      <canvas #lineCanvas></canvas>
    </ion-card-content>
  </ion-card>

    <ion-card id="analysis-card" *ngIf = "resultsAnalysis.length!=0">
    <ion-card-header>
      Analysis
    </ion-card-header>
    <ion-card-content>
      <ion-list *ngFor="let str of resultsAnalysis">
        <ion-item no-lines>
          <p text-wrap>{{str}}</p>
        </ion-item>
      </ion-list>
    </ion-card-content>
  </ion-card>
  

  <ion-card id="analysis-card" *ngIf = "suggestion.length!=0">
    <ion-card-header>
      Suggestions
    </ion-card-header>
    <ion-card-content>
      <ion-list *ngFor="let str of suggestion">
        <ion-item no-lines>
          <p text-wrap>{{str}}</p>
        </ion-item>
      </ion-list>
    </ion-card-content>
  </ion-card>
</ion-content>
