page-login {
    .content {
        .logo {
            width: auto;
            height: 30%;
            img {
                width: 50%;
                margin-left: 25%;
                margin-right: 25%
            }
        }
        .login-form {
            margin-top: 20%;
            height: 20%;
            #input-field {
                border: solid thin #ff8082;
                border-radius: 20px;
                margin-top: 2%;
            }
        }
        .login-action {
            margin-top: 20%;
            height: 20%;

            #login-btn {
            }

            #signUp-btn {
                background: #ff8082;
                margin-top: 5%;
            }
        }
    }
}